.category_channels {
  background-color: rgba(0, 0, 0, 0.3);
}

.step_shadow {
  height: 2px;
  background-color: rgba(0, 0, 0, 0.2);
}

.light_reflection {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.1);
} 

.category_close_button {
  cursor: pointer;
  margin-right: 2.5px;
}

.category_edit_button {
  cursor: pointer;
  margin-right: 5px;
}

.category_rename_button {
  cursor: pointer;
  margin-right: 7.5px;
  margin-left: 2px;
}
