.after_category_blank {
  height: 10px;
}

.category_channels {
  background-color: rgba(0, 0, 0, 0.3);
}

.step_shadow {
  height: 2px;
  background-color: rgba(0, 0, 0, 0.2);
}

.light_reflection {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.1);
}

.rename_category_button {
  cursor: pointer;
  margin-right: 7.5px !important;
  margin-left: 2px !important;
}

.edit_category_button {
  cursor: pointer;
  margin-right: 5px !important;
}

.delete_category_button {
  cursor: pointer;
  margin-right: 2.5px !important;
}


