.channel_in_category {
  background-color: rgba(0, 0, 0, 0.3);
}

.section_bottom_blank {
  height: 12px;
}

.step_shadow {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.4);
}

.light_reflection {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.05);
}

.rename_category_button {
  cursor: pointer;
  margin-right: 7.5px !important;
  margin-left: 2px !important;
}

.edit_category_button {
  cursor: pointer;
  margin-right: 5px !important;
}

.delete_category_button {
  cursor: pointer;
  margin-right: 2.5px !important;
}


