/* from https://nelog.jp/how-to-use-google-material-icons */

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 100% !important;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1.1 !important;
  text-transform: none;

  margin-right: 5px;
  margin-left: -3px;

  opacity: 0.5;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
